{% extends 'core/base.html' %}

{% load static %}

{% block title %}Crear Empleado - Delicias ChocolaterIA{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'empleados/css/empleados.css' %}">
{% endblock %}

{% block content %}
<div class="crear-empleados-container">
    <header class="crear-empleados-header">
        <h1 class="crear-empleados-title">Crear Empleado</h1>
        <a href="{% url 'empleados:lista_empleados' %}" class="crear-empleados-back-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="btn-reset-icon">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </a>
    </header>

    <form method="post" class="crear-empleados-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>

        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>

        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <div class="form-group">
            <button type="submit" class="crear-empleados-submit-button">Crear Empleado</button>
        </div>
    </form>
</div>
{% endblock %}
