{% extends 'core/base.html' %}

{% load static %}

{% block title %}Eliminar Empleado - Delicias ChocolaterIA{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'empleados/css/empleados.css' %}">
{% endblock %}

{% block content %}
<div class="crear-empleados-container">
    <header class="crear-empleados-header">
        <h1 class="crear-empleados-title">Eliminar Empleado</h1>
        <a href="{% url 'empleados:lista_empleados' %}" class="crear-empleados-back-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="btn-reset-icon">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </a>
    </header>

    <p class="confirm-delete-text">¿Estás seguro de que deseas eliminar a {{ empleado.username }}?</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="delete-confirm-button">Eliminar</button>
        </div>
    </form>
</div>
{% endblock %}
