/* Crear_pedido.html */

/* Estilos Generales */
.pedido-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #201314; /* Fondo oscuro */
    color: #fff;
    font-family: 'Epilogue', 'Noto Sans', sans-serif;
    border-radius: 10px;
}

/* Encabezado */
.pedido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pedido-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.pedido-back-button:hover {
    background-color: #5f3a3c;
}

/* Formulario */
.pedido-form {
    background-color: #2f1d1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.pedido-form .form-group {
    margin-bottom: 1.5rem;
    color: white;
}

.pedido-form label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.pedido-form input[type="file"] {
    display: block;
    width: 95%;
    padding: 10px;
    border: 1px solid #5f3a3c;
    border-radius: 5px;
    background-color: #42292a;
    color: white;
}

.pedido-submit-button {
    background-color: #5c0a0a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Hace que el botón sea un elemento de bloque */
    margin: 0 auto; /* Centra el botón horizontalmente */
}

.pedido-submit-button:hover {
    background-color: #b52c00;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* detalle_pedido.html */

/* Estilos Generales */
.detalle-pedido-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    color: #fff;
    border-radius: 10px;
}

.detalle-pedido-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4d2e1a;
}

.infoText{
    color: #4d2e1a;
}

/* Tabla de Productos */
.pedido-productos table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.pedido-productos th, .pedido-productos td {
    padding: 10px;
    border-bottom: 1px solid #b52c00;
    text-align: left;
}

.pedido-productos th {
    background-color: #b52c00;
    color: white;
}

.pedido-productos td {
    color: black;
}

/* Total del Pedido */
.pedido-total {
    font-size: 1.5rem;
    color: black;
    text-align: right;
}
