<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Delicias ChocolaterIA{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% if request.user.is_authenticated %}
    <header class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-brand">ChocolaterIA</a>
            <nav class="navigation">
                <a href="{% url 'productos:productos' %}">Productos</a>
                <a href="#">Pedidos</a>
                <a href="#">Estadísticas</a>
                <a href="{% url 'empleados:lista_empleados' %}">Empleados</a>
                <!-- Formulario de cierre de sesión -->
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
            </nav>
        </div>
    </header>
    {% endif %}
    
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Delicias ChocolaterIA. Todos los derechos reservados.</p>
    </footer>
</body>
</html>