{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home - Delicias ChocolaterIA{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="card">
        <img src="{% static 'core/images/logo.png' %}" alt="Logo de ChocolaterIA" class="card__logo">
        <div class="card__content">
            <h2 class="card__title">ChocolaterIA</h2>
            <p class="card__description">{% if request.user.is_authenticated %} {{ user.username | upper }} {% endif %}</p>
        </div>
    </div>
</div>
{% endblock %}



