{% extends 'core/base.html' %}

{% load static %}

{% block title %}Detalle del Producto - Delicias ChocolaterIA{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'productos/css/productos.css' %}">
{% endblock %}

{% block content %}
<div class="detalle-producto-container">
    <h1>{{ producto.nombre }}</h1>
    <p><strong>Código:</strong> {{ producto.codigo }}</p>
    <p><strong>Precio:</strong> ${{ producto.precio }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>

    <!-- Aquí las imágenes del producto -->
    <div class="producto-imagenes">
        {% for imagen in producto.imagenes.all %}
        <img src="{{ imagen.imagen.url }}" alt="{{ producto.nombre }}">
        {% endfor %}
    </div>

    <!-- Botones de acción -->
    <div class="producto-acciones">
        <a href="{% url 'productos:editar_producto' producto.pk %}" class="detalle-producto-edit-button">Editar</a>
        <a href="{% url 'productos:productos' %}" class="btn btn-secondary">Volver a la lista</a>
        <form action="{% url 'productos:eliminar_producto' producto.pk %}" method="post" class="detalle-producto-delete-form">
            {% csrf_token %}
            <button type="submit" class="detalle-producto-delete-button">Eliminar</button>
        </form>
    </div>
</div>
{% endblock %}